<!-- app.component.html -->
<div style="display: inline-block">
    <h1 style="display: inline-block"> {{ this.getRoomName() }} (ADMIN)
        <h2>
            Creator: You
        </h2>
    </h1>
    <button mat-raised-button class="socket" [ngStyle]="{'background-color': getSocketButtonColour()}" (click)="toggleSocket()">
        {{ this.getSocketText() }}
    </button>
</div>
<ul>
    <textarea readonly name="chatArea" class="output" [(ngModel)]="textAreaChat" type="text"></textarea>
</ul>
<ul style="display:inline-block">
    <textarea class="input" [(ngModel)]="inputBoxValue" (keyup.enter)="onKeyEnter()"></textarea>
    <button class="send" mat-raised-button color="primary" (click)="sendMessage()">Send</button>
</ul>