<!-- app.component.html -->
<h1> {{ this.getRoomName() }}
    <h2>
        Creator: {{ this.getAdminName() }}
    </h2>
</h1>
<ul>
    <textarea readonly name="chatArea" class="output" [(ngModel)]="textAreaChat" type="text"></textarea>
</ul>
<ul style="display:inline-block">
    <textarea class="input" [(ngModel)]="inputBoxValue" (keyup.enter)="onKeyEnter()"></textarea>
    <button class="send" mat-raised-button color="primary" (click)="sendMessage()">Send</button>
    <ul>
        <button (click)="connectionState()">Connection State</button>
    </ul>