<h1 mat-dialog-title>Create A New Room</h1>
<div style="padding: 0px">
    <p>Room Name: </p>
    <input style="width:90%" matInput #room>
</div>
<div style="padding: 0px">
    <p>Your Name: </p>
    <input  style="width:90%" matInput #name>
</div>
<div style="padding: 12px"></div> 
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onCreate(room.value, name.value)" cdkFocusInitial>Create</button>
    <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
</div>