<!-- app.component.html -->
<h1>Available Rooms</h1>

<ul>
  <li *ngFor="let room of rooms">

    <a routerLink="/chat" (click)="openRoomEntryDialog(room.adminId, room.roomName)">{{ room.roomName }}</a>
    <ul>
      <li>Creator: {{ room.adminName }}</li>
    </ul>
  </li>
</ul>

<button mat-raised-button color="primary" (click)="openRoomCreatorDialog()">Create Room</button>
<button (click)="connect()">Connect to Socket</button>
<button (click)="disconnect()">Disconnect from Socket</button>
<button (click)="requestRooms()">Request Rooms</button>
<button (click)="quickCreateRoom()">Quick Create Room</button>